.fc-direction-ltr {
    width: 100%;
    height: 475px;
}

/*.fc .fc-daygrid-day-frame {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*}*/
.fc .fc-daygrid-day-top{
    justify-content: center;
}
.fc-theme-standard td, table, .fc-theme-standard td {
    border: none !important;

}

.fc .fc-button-primary {
    background: none !important;
    border: none !important;
    outline: none !important;
}

.fc-icon-chevron-right::before {
    content: url("../../../../assets/icons/next.svg");
}

.fc-icon-chevron-left::before {
    content: url("../../../../assets/icons/prev.svg");
}

.fc .fc-button-primary:focus {
    box-shadow: none !important;
}

.fc-daygrid-event {
    z-index: -10 !important;
    color: white !important;
    padding: 5px;
}

.fc-event-start {
    border: none !important;
    border-bottom-left-radius: 300px;
    border-top-left-radius: 300px;
}

.fc-event-end {
    border: none !important;
    border-bottom-right-radius: 300px;
    border-top-right-radius: 300px;
}

.fc-daygrid-event-harness-abs {
    /*top: 13px !important;*/
}

.fc-event-time {
    color: #fff !important;
}
 .fc-theme-standard th{
    border: none;
     margin-bottom: 10px !important;
}